<%- include('partials/header'); -%>
    <%- include('partials/nav'); -%>
        <div class="about" style="color: #4169ff; font-weight: bold;">

            <h1>About</h1>
            <P> if you have any query or project idea feel free to contact me ! at <a
                    href="mailto:siddarth.mewara597@gmail.com">@siddarth.mewara597@gmail.com </a></P>
        </div>
        <%- include('partials/footer'); -%>